ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
  font-family: inherit;
}

li > * {
  vertical-align: middle;
}

/* Basic Style */
body {
  width: 100%;
  background-color: #f7f7f7;
  color: #333333;
  font-family: "Lato", sans-serif;
}

.todo {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

/* header */
.header {
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

.todo__title {
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid hsl(0, 0%, 20%);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.todo__form {
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.todo__btn {
  background: none;
  /* font-family: Lato, sans-serif; */
  border: 0px;
  color: #878787;
  width: 4em;
  cursor: pointer;
  transition: all.3s linear;
}

.todo__btn:hover {
  color: #3b3b3b;
}

.todo__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__icon:hover {
  transform: rotateZ(0);
}

.todo__input {
  flex: 1;
  font-size: 18px;
  line-height: 1;
  /* height: 21px; */
  padding: 0 9px;
  border: 1px solid #dedede;
  border-radius: 6px;
  background: #ffffff;
  color: #878787;
  margin: 0;
}

.todo__input--list {
  display: none;
}

.todo__input:focus {
  color: #333333;
}

.todo__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #ededed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__checkbox {
  margin: 0 10px;
}

.todo__task {
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

/* Completed */
.todo__task--complited {
  text-decoration: line-through;
  color: #878787;
}

/* Edit Task */
.edit-mode > .todo__input {
  display: inline-block;
  /* width: 224px; */
}

.edit-mode > .todo__task {
  display: none;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
